@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: "tesla";
    src: url(font/TESLA.ttf);
}

:root {
    --colour00: #000000;
    --colour01: #290428;
    --colour02: #3f4749;
    --colour03: #165f5c;
    --colour04: #ffffff;
}

body {
    background-color: var(--colour02);
}

header {
    background-image: radial-gradient(var(--colour02), var(--colour00));
    color: var(--colour04);
    text-align: center;
}

nav {
    padding: 10px;
    background-color: var(--colour00);
}

nav > a {
    color: var(--colour04);
    text-decoration: none;
    padding:10px;
}

main {
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    min-width: 300px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.349);
}

img#logo {
    padding-top: 40px;
    width: 100px;
    height: 100px;
}

h1#main {
    font-family: "tesla", Arial, Helvetica, sans-serif;
    padding-bottom: 40px;
    text-shadow: #000000 2px 0px 4px, #000000 -2px 0px 4px, #000000 0px 2px 4px, #000000 0px -2px 4px;
}

h1 {
    font-family: "tesla", Arial, Helvetica, sans-serif;
}

section.image {
    text-align: center;
}

p {
    text-indent: 40px;
    line-height: 40px;
}

footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

div#steve {
    background-image: url(image/i490761.jpeg);
    height: 400px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center;
}

div.txt {
    font-size: 3.5vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    width: 50vw;
}

div.txt > p {
    color: var(--colour04);
    display: inline-block;
    background-color: #0000007a;
    text-shadow: 3px 3px 5px #000000;
    padding: 20px;
    line-height: 5vw;
    text-align: left;
}

div.box {
    background-color: #00000063;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 320px;
    height: 200px;
    line-height: 150px;
    border: solid 2px black;
    margin: 0px 10px 0px 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 7px #0000005b;
}

div.scroll {
    display: flex;
    background-position: center center;
    background-size: cover;
    background-color: var(--colour02);
    max-height: 220px;
    padding: 10px;
    box-shadow: inset 1px 1px 7px #00000059;
    overflow-x: auto;
    margin: 10px -20px 10px -20px;
}

div#iphone1 {

}