@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: "tesla";
    src: url(font/TESLA.ttf);
}

:root {
    --colour00: #000000;
    --colour01: #290428;
    --colour02: #3f4749;
    --colour03: #165f5c;
    --colour04: #ffffff;
}

body {
    background-color: var(--colour02);
}

header {
    background-image: radial-gradient(var(--colour02), var(--colour00));
    color: var(--colour04);
    text-align: center;
}

nav {
    padding: 10px;
    background-color: var(--colour00);
}

nav > a {
    color: var(--colour04);
    text-decoration: none;
    padding:10px;
}

main {
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    min-width: 300px;
    max-width: 800px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.349);
}

img#logo {
    padding-top: 40px;
    width: 100px;
    height: 100px;
}

h1#main {
    font-family: "tesla", Arial, Helvetica, sans-serif;
    padding-bottom: 40px;
    text-shadow: #000000 2px 0px 4px, #000000 -2px 0px 4px, #000000 0px 2px 4px, #000000 0px -2px 4px;
}

h1 {
    font-family: "tesla", Arial, Helvetica, sans-serif;
}

section.image {
    text-align: center;
}

p {
    text-indent: 40px;
    line-height: 40px;
}

footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}